// Color
$black: #000000;
$dark: #13141B;
$blue: #3254FF;
$blue-dark: #1532C6;
$cyan: #009DFF;
$green: #00C709;
$red: #E02742;
$red-dark: #B4001A;
$orange: #EF7E21;
$gray100: #F5F5F8;
$gray200: #E5E5EC;
$gray300: #CCCCDA;
$gray400: #B0B1BD;
$gray500: #666874;
$gray600: #424349;

//sizes
$tablet-size: 768px;
$desktop-size: 992px;
