.alert{
  width: 100vw;
  padding: 16px 24px;
  text-align: center;
  color: white;
  margin: 0 0 1px 0 !important;
  top: 52px;
  position: relative;

  &.error{
    background-color: $red;
  }
  &.info{
    background-color: $cyan;
  }
  &.success{
    background-color: $green;
  }
}
