@import 'mixins';
@import 'variables';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol" !important;
  color: $dark;
}
.cleaner{
  clear: both;
}
h1,h2,h3,h4{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
a{
  cursor: pointer;
}
.text-center{
  text-align: center;
}
@import 'gate';
@import 'alert';
