.sign-gate{
  background:white;
  padding-top: 52px;
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-flow: column;
  position: relative;
  z-index: 1;
}
.sign-gate-content{
  padding: 0 24px;
  width: 100%;
  max-width: 380px !important;
  margin: auto;
}
