@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin translate3d($transform...) {
    -moz-transform:    translate3d($transform);
    -o-transform:      translate3d($transform);
    -webkit-transform: translate3d($transform);
    transform:         translate3d($transform);
}
@mixin scale($transform...) {
    -moz-transform:    scale($transform);
    -o-transform:      scale($transform);
    -webkit-transform: scale($transform);
    transform:         scale($transform);
}
@mixin rotate($transform...) {
    -moz-transform:    rotate($transform);
    -o-transform:      rotate($transform);
    -webkit-transform: rotate($transform);
    transform:         rotate($transform);
}
